// Inter Font Faces
@font-face {
  font-family: "inter";
  src: url(../assets/fonts/inter/static/Inter_18pt-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url(../assets/fonts/inter/static/Inter_18pt-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url(../assets/fonts/inter/static/Inter_18pt-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url(../assets/fonts/inter/static/Inter_18pt-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url(../assets/fonts/inter/Inter-Italic-VariableFont_opsz\wght.ttf);
  font-weight: normal;
  font-style: italic;
}

// Noto Serif Font Faces
@font-face {
  font-family: "noto serif";
  src: url(../assets/fonts/noto-serif/static/NotoSerif-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "noto serif";
  src: url(../assets/fonts/noto-serif/static/NotoSerif-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "noto serif";
  src: url(../assets/fonts/noto-serif/static/NotoSerif-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "noto serif";
  src: url(../assets/fonts/noto-serif/static/NotoSerif-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "noto serif";
  src: url(../assets/fonts/noto-serif/NotoSerif-Italic-VariableFont_wdth\wght.ttf);
  font-weight: normal;
  font-style: italic;
}

// Source Code Pro Font Faces
@font-face {
  font-family: "source code pro";
  src: url(../assets/fonts/source-code-pro/static/SourceCodePro-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "source code pro";
  src: url(../assets/fonts/source-code-pro/static/SourceCodePro-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "source code pro";
  src: url(../assets/fonts/source-code-pro/static/SourceCodePro-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "source code pro";
  src: url(../assets/fonts/source-code-pro/static/SourceCodePro-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "source code pro";
  src: url(../assets/fonts/source-code-pro/SourceCodePro-Italic-VariableFont_wght.ttf);
  font-weight: normal;
  font-style: italic;
}
