@use "./variables" as *;

body {
  padding: 0;
  margin: 0;
  background-color: $neutral-100;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-family-inter;
  height: 100vh;
  width: 100%;
  color: $neutral-950;
}

.toolbar-container-app {
  // display: none;
}

p,
h1,
h2 {
  margin: 0;
}

@media (max-width: 1024px) {
  .toolbar-container-app {
    width: 100%;
    height: min-content;
    position: absolute;
    display: inline-block;
    bottom: 0;
  }
}
