@use "../../styles/variables" as *;

.allnotes-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px 16px 0px 32px;
  box-sizing: border-box;
  border-right: 1px solid $neutral-200;

  .app-all-notes-p {
    display: none;
  }

  .notes-container {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 3px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $neutral-300;
      border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $neutral-300;
    }
  }

  .line {
    border-bottom: 1px solid $neutral-200;
    padding-right: 20px;
  }

  .notewrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
  }
  .archive-notes {
    color: $neutral-700;
    letter-spacing: -0.2px;
    line-height: 130%;
    font-size: 14px;
  }

  .newNoteA {
    color: $neutral-950;
    text-decoration: underline;
  }
}

@media (max-width: 1024px) {
  .allnotes-container {
    padding: 0;
    padding-right: 32px;
    padding-left: 32px;
    padding-top: 24px;
    height: calc(100vh - 81px);
    padding-bottom: 80px;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    background-color: white;

    .app-all-notes-p {
      display: block;
      color: $neutral-950;
      font-size: 24px;
      font-weight: bold;
      line-height: 120%;
      letter-spacing: -0.5px;
    }
    .notes-container {
      padding-right: 10px;
    }
    .btn-container {
      height: 64px;
      display: flex;
      justify-content: end;
      order: 2;
      position: absolute;
      bottom: 89px;
      right: 10px;
      border-radius: 50%;
    }
  }
}
