@use "../../styles/variables" as *;

.allnotes-container {
  height: 697px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 32px;
  padding-right: 16px;
  padding-top: 20px;
  box-sizing: border-box;
  .notes-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow-y: scroll;
    gap: 4px;
    box-sizing: border-box;
    padding-bottom: 20px;

    &::-webkit-scrollbar {
      width: 3px;
    }

    /* Track */
    // &::-webkit-scrollbar-track {
    //   background: $neutral-100;
    //   border-radius: 10px;
    // }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $neutral-300;
      border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $neutral-300;
    }
  }

  .line {
    border-bottom: 1px solid $neutral-200;
    padding-right: 20px;
  }

  .btn-container {
    width: 100%;
  }

  .notewrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
  }
}
