@use "../../styles/variables" as *;

body {
  padding: 0;
  margin: 0;
  background-color: $neutral-100;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-family-inter;
  height: 100vh;
  color: $neutral-950;
}

p,
h1,
h2 {
  margin: 0;
}

.card {
  background-color: $neutral-0;
  border: 1px solid $neutral-200;
  padding: 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: $border-radius-12;
  width: 540px;
}

.card-logo-container {
  width: 100%;
  height: min-content;
  display: flex;
  justify-content: center;
}

.card-header-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  height: 55px;
  justify-content: space-between;
}

.card-header {
  font-size: $font-size-large;
  font-family: $font-family-inter;
  font-weight: bold;
  line-height: 120%;
  letter-spacing: -0.5px;
}

.card-p {
  font-weight: normal;
  font-size: $font-size-small;
  color: $neutral-600;
}

.card-form-container {
  width: 100%;
  padding-top: 24px;
  display: flex;
  flex-direction: column;

  form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    label {
      font-weight: 500;
      font-size: $font-size-base;
      letter-spacing: -0.2px;
      line-height: 120%;
    }

    input {
      border-radius: $border-radius-8;
      border: 1px solid $neutral-300;
      padding: 12px 16px;

      &::placeholder {
        color: $neutral-500;
        line-height: 120%;
        letter-spacing: -0.2px;
        font-size: $font-size-small;
      }

      &:focus {
        outline-offset: 2px;
        outline: 3px solid $neutral-400;
      }
    }
  }
}

.email-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 65px;
}

.password-container {
  display: flex;
  flex-direction: column;
  height: 67px;
  justify-content: space-between;
}

.card-form-inner-container {
  display: flex;
  justify-content: space-between;

  a {
    color: $neutral-600;
    font-size: $font-size-xsmall;
    line-height: 140%;
  }
}

.card-Oauth-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding-top: 24px;
  border-top: 1px solid $neutral-300;

  p {
    color: $neutral-600;
  }
}

.card-line {
  border-top: 1px solid $neutral-300;
}

.card-signup {
  display: flex;
  justify-content: center;
  gap: 5px;

  a {
    color: $neutral-950;
    text-decoration: none;
  }
}
