@use "../../styles/variables" as *;

.card {
  background-color: $neutral-0;
  border: 1px solid $neutral-200;
  padding: 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: $border-radius-12;
  width: 540px;
  height: min-content;
  margin-right: 16px;
  margin-left: 16px;
  text-align: center;
}

.card-logo-container {
  width: 100%;
  height: min-content;
  display: flex;
  justify-content: center;
}

.card-header-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  height: 55px;
  justify-content: space-between;
}

.card-header {
  font-size: $font-size-large;
  font-family: $font-family-inter;
  font-weight: bold;
  line-height: 120%;
  letter-spacing: -0.5px;
}

.card-p {
  font-weight: normal;
  font-size: $font-size-small;
  color: $neutral-600;
}

.card-form-container {
  width: 100%;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
}

.card-Oauth-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding-top: 24px;
  border-top: 1px solid $neutral-300;

  p {
    color: $neutral-600;
  }
}

.card-line {
  border-top: 1px solid $neutral-300;
}

.card-signup {
  display: flex;
  justify-content: center;
  gap: 5px;

  a {
    color: $neutral-950;
    text-decoration: none;
  }

  p {
    color: $neutral-600;
  }
}
