@use "../../styles/variables" as *;

.note-details-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  padding: 20px 24px;
  background-color: white;
  font-family: $font-family-inter !important;
  border-right: 1px solid $neutral-200;
  gap: 16px;

  .line,
  .line-app {
    border-bottom: 1px solid $neutral-200;
  }

  .note-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1 1 auto;
    overflow: hidden;
  }

  .note-details {
    width: 100%;
    flex: 0 0 auto;
  }

  .note-details-title textarea {
    width: 100%;
    outline: none;
    border: none;
    font-size: 24px;
    resize: none;
    font-weight: bold;
    font-family: $font-family-inter;
    height: 29px;

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background: $neutral-300;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $neutral-300;
    }
  }

  .note-details-tag-title,
  .note-status-title,
  .last-edited-container {
    width: 115px;
    display: flex;
    gap: 6px;
    padding: 4px 0px;
    align-items: center;
    line-height: 130%;
    letter-spacing: -0.2px;
    opacity: 80%;
  }

  .note-status,
  .note-tags,
  .note-edit-time {
    font-size: $font-size-small;
  }

  .note-status img,
  .note-tags img,
  .note-edit-time img {
    width: 16px;
    height: 16px;
  }

  .note-status-value {
    color: $neutral-950;
    line-height: 130%;
    letter-spacing: -0.2px;
  }

  .note-details-tags {
    flex: 1;
    display: flex;
    box-sizing: border-box;
    height: min-content;
  }

  .note-tags,
  .note-status {
    display: flex;
    align-items: center;
    gap: 8px;
    box-sizing: border-box;
  }

  .note-edit-time {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .note-content {
    flex: 1 1 auto;
    min-height: 200px;
    max-height: 80vh;
    overflow-y: auto;
    border: none;
    outline: none;
    resize: none;
    font-family: $font-family-inter;
    font-size: 14px;

    &:focus {
      border: none;
      outline: none;
    }
  }

  .note-details-buttons-container {
    display: flex;
    gap: 16px;
  }

  .note-details-mobile-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-bottom: 1px solid $neutral-200;
    padding-bottom: 16px;
    display: none;

    .go-back {
      padding: 0;
      margin: 0;
      display: flex;
      height: 18px;
      gap: 4px;
      font-family: $font-family-inter;
      border: none;
      background-color: transparent;
      cursor: pointer;
      color: $neutral-600;
      line-height: 130%;
      letter-spacing: -0.2px;
      font-size: $font-size-small;
      img {
        padding: 0;
        margin: 0;
        height: 18px;
        width: 18px;
      }
    }

    .note-details-mobile-toolbar-end-menu {
      display: flex;
      gap: 16px;
      align-items: start;

      .delete-note,
      .archive-note,
      .cancel,
      .save-note {
        padding: 0;
        margin: 0;
        display: flex;
        height: 18px;
        gap: 4px;
        font-family: $font-family-inter;
        border: none;
        background-color: transparent;
        cursor: pointer;
        color: $neutral-600;
        line-height: 130%;
        letter-spacing: -0.2px;
        font-size: $font-size-small;
      }

      .save-note {
        color: $blue-500;
      }
    }
  }
}

@media (max-width: 1024px) {
  .note-details-container {
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    position: fixed;
    top: 81px;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    z-index: inherit;
    height: 100%;
    border-bottom: none;
    padding-bottom: 80px;

    .note-content {
      overflow-y: scroll;
      height: 100%;
      margin-bottom: 80px;
    }
    .note-details-buttons-container {
      display: none;
    }

    background-color: white;
    .note-details-mobile-toolbar {
      display: flex;
    }
  }
  .line-app {
    display: none;
  }
}
