@use "../../styles/variables" as *;

.inner-tag {
  background-color: $neutral-200;
  border-radius: $border-radius-4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 6px;
  color: $neutral-950;
  font-size: $font-size-xsmall;
  line-height: 120%;
  letter-spacing: -0.2px;
}
