@use "../../styles/variables" as *;

.primaryBtn {
  background-color: $blue-500;
  color: $neutral-0;
  font-weight: 500;
  font-size: $font-size-small;
  line-height: 120%;
  letter-spacing: -0.3px;
  padding: 12px 16px;
  border-radius: $border-radius-8;
  border: 1px solid transparent;
  cursor: pointer;
  line-height: 120%;
  font-size: $font-size-small;
  transition: outline 0.3s ease, color 0.3s ease, background-color 0.3s ease;
  font-family: $font-family-inter;
  width: 100%;

  &:hover {
    background-color: $blue-700;
  }

  &:focus {
    outline-offset: 2px;
    outline: 2px solid $neutral-300;
    background-color: $blue-500;
    border: 1px solid black;
  }

  &:disabled {
    background-color: $neutral-100;
    color: $neutral-300;
    border: 0px solid transparent;
  }

  .primaryBtnText {
    display: inline;
  }

  .primaryBtnIcon {
    display: none;
  }
}

@media (max-width: 1024px) {
  .primaryBtn {
    width: 64px;
    height: 64px;
    border-radius: 50%;

    .primaryBtnText {
      display: none;
    }
    .primaryBtnIcon {
      display: inline;
      filter: invert(1);
    }
  }
}
