@use "../../styles/variables" as *;

.searchbar-container {
  display: flex;
  gap: 16px;
  align-items: center;
}

.searchIcon {
  filter: brightness(0) saturate(100%) invert(51%) sepia(5%) saturate(235%)
    hue-rotate(200deg);
}

.search-hint {
  display: none;
}

.settingsIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(51%) sepia(5%) saturate(235%)
    hue-rotate(200deg);
}

.searchbar-container-title {
  display: none;
}

.search-input-container {
  height: min-content;
  display: flex;
  align-items: center;
  border: 1px solid $neutral-300;
  border-radius: 8px;
  padding: 8px 12px 8px 12px;
  gap: 16px;
  width: 300px;

  .inputbar {
    border: none;
    height: 100%;
    width: 100%;
    color: $neutral-600;

    &:focus {
      outline: none;
    }

    &::placeholder {
      width: max-content;
    }
  }
}

.settingsicon-container {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-text-tablet {
  display: none;
}

@media (max-width: 1024px) {
  .searchbar-container {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;

    .search-hint {
      display: block;

      .search-hint-p {
        font-size: $font-size-small;
        line-height: 130%;
        letter-spacing: -0.2px;
        color: $neutral-700;
      }
    }

    .search-input-container {
      box-sizing: border-box;
      width: 100%;
      padding: 0;
      gap: 8px;
      background-color: $neutral-50;

      .searchIcon {
        margin: 16px 0px 16px 16px;
      }

      .inputbar {
        background-color: transparent;
      }
    }

    .settingsicon-container {
      display: none;
    }

    .searchbar-wrapper {
      gap: 4px;
      padding-bottom: 10px;
    }

    .searchbar-container-title {
      display: block;
      font-size: 24px;
      font-weight: 700;
      line-height: 120%;
      letter-spacing: -0.5px;
    }
  }
}
