@use "../../styles/variables" as *;

.tag-container {
  color: $neutral-950;
  width: 100%;
  display: flex;
  gap: 8px;
  padding: 10px 12px 10px 12px;
  align-items: center;
  box-sizing: border-box;
  height: auto;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 8px;

  .arrowContainer {
    opacity: 0%;

    img {
      display: block;
    }
  }

  .tag-p {
    flex: 1;
  }

  &:hover {
    .arrowContainer {
      opacity: 100%;
    }
    background-color: $neutral-100;
    .tagIcon {
      transition: all 0.1s ease;
      filter: brightness(0) saturate(100%) invert(20%) sepia(100%)
        saturate(5000%) hue-rotate(200deg);
    }
  }
}

.active {
  background-color: $neutral-200;

  .arrowContainer {
    opacity: 100%;
  }

  .tagIcon {
    filter: brightness(0) saturate(100%) invert(20%) sepia(100%) saturate(5000%)
      hue-rotate(200deg);
  }
}
